language: python
services:
  - rabbitmq
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5
env:
  - TOXENV=py34
  - TOXENV=py35
install:
  - pip install tox 
script:
  - tox

