language: python

services:
  - rabbitmq

language: python

matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7-dev
      env: TOXENV=py37
install:
  - pip install tox coveralls codecov
script:
  - tox
after_success:
  - codecov
  - coveralls
